<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PUSTAKALAY</title>
    <link rel="stylesheet" href="/stylesheets/register.css">
    
</head>
<body>
    <main class="login-container">
      
        <!-- Left Panel -->
        <section class="left-panel">
            <div class="content">
                <img src="/images/logimg.jpg" alt="">
            </div>
               
              
        </section>

        <!-- Right Panel -->
        <section class="right-panel">
            <div class="login-content">
                <h1 class="titlename">पुस्तकालय</h1>
                <h3>Welcome</h3>
                
                <form class="register-form" action="/register" method="post">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" id="name" name="name" placeholder="Name" required>
                    </div>

                    <div class="form-group">
                        <label for="Phone_no">Phone no.</label>
                        <input type="number" id="Phone_no" name="Phone_no" placeholder="Phone no." required>
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" id="email" name="email" placeholder="Email " required>
                    </div>

                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" id="password" name="password" placeholder="Password" required>
                        <!-- <a href="#" class="forgot-password">Forgot password?</a> -->
                    </div>

                    <button type="submit" class="sign-in-btn">Signup</button>

                
                    <p class="create-account">
                        <a href="/">Already have an account? Login</a>
                    </p>
                </form>
            </div>
        </section>
    </main>
</body>
</html>